<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <form>
        <label>first name&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp:</label><input type="text"><br>
        <label>middle name&nbsp&nbsp&nbsp:</label><input type="text"><br>
        <label>surname name :</label><input type="text"><br>
        <label>father name :</label><input type="text"><br>
        <label>mother name :</label><input type="text"><br>
        <label>gender</label><input type="radio" name="r"><label>male</label><input type="radio" name="r"><label>female</label><br>
        <label>Highest Qulaification</label><input type="radio" name="b">MCA<input type="radio" name="b">Bsc<input type="radio" name="b">INTER<input type="radio" name="b">SSC
        <br><label>Institute :</label><input type="text"><br>
        <label>mobile num:</label><input type="number"><br>
        <label>Gmail</label><input type="email"><br>
        <label>choose couse</label>
        <ol>
            <input type="radio" name="c">python<br>
            <input type="radio" name="c">django<br>
            <input type="radio" name="c">machine leaning<br>
            <input type="radio" name="c">artificial inteligence<br>
            <input type="radio" name="c">java<br>
            <input type="radio" name="c">dot net<br>
        </ol>
        <label>image</label><input type="image"><br>
        <label>Feedback</label><input type="text"><br>
        <input type="submit">
        <input type="reset">
    </form>
</head>
<body>
</body>
</html>